<!DOCTYPE html>
<html lang="en">

<head>
    {{page_head|safe}}
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper container">
            {{navbar|safe}}
            <ul class="right hide-on-med-and-down">
                {{menu_options|safe}}
                <!-- Dynamic elements added with python -->
            </ul>

            <ul id="nav-mobile" class="side-nav">
                {{menu_options|safe}}
                <!-- Dynamic elements added with python -->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            {{modal_about|safe}}
        </div>
    </nav>

    <header>
        <div class="section">
            <br/>
            <div class="container">
                <h5 class="header center-on-small-only indigo-text">Welcome, {{user}}</h5>
            </div>
        </div>
    </header>

    <main>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="account_page col s12 m5">
                        <span class="card-panel col s12 m5 white-text teal lighten-1">My surveys</span>
                        <br/>
                        <br/>
                        <p class="teal-text">
                            {{active_surveys|safe}}
                            <!-- fai una funzione che prenda tutti i sondaggi con l'email corrispondente a quella dell'account corrente e li visualizzi in una lista -->
                        </p>
                        <br/>
                        <button id="new_survey" class="waves-effect waves-light btn light-green darken-2" type="button" onclick="location.href='/newsurvey'">New Survey</button>
                    </div>
                    <div class="account_page col s12 m5 offset-m2 margin-on-mobile-only">
                        <span class="card-panel col s12 m5 white-text teal lighten-1">Stats</span>
                        <br/>
                        <br/> {{surveys_stats|safe}}
                    </div>
                </div>
            </div>
        </div>

    </main>

    {{footer|safe}}
    <!-- Dynamic footer added with python -->

    <!--  Scripts-->
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/init.js"></script>

</body>

</html>