<!DOCTYPE html>
<html lang="en">

<head>
    {{page_head|safe}}
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper container">
            {{navbar|safe}}
            <ul class="right hide-on-med-and-down">
                {{menu_options|safe}}
                <!-- Dynamic elements added with python -->
            </ul>

            <ul id="nav-mobile" class="side-nav">
                {{menu_options|safe}}
                <!-- Dynamic elements added with python -->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            {{modal_about|safe}}
        </div>
    </nav>

    <header>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br/>
                <h3 class="header center indigo-text darken-4-text">Vote successfully submitted!</h3>
                <br/>
            </div>
        </div>
    </header>

    <main>
        <div class="section">
            <div class="container">
                <p id="msg" class="center indigo-text">{{successful_message|safe}}</p>
            </div>
        </div>
    </main>

    {{footer|safe}}
    <!-- Dynamic footer added with python -->

    <!--  Scripts-->
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#msg").html().indexOf("redirected") > -1) {
                setTimeout(function () {
                    window.location.href = $("#path").attr("href");
                }, 3000);
                setInterval(function () {
                    $("#timeout").html(parseInt($("#timeout").html()) - 1);
                }, 1000);
            }
        });
    </script>
</body>

</html>